{{ if .Site.Params.hero.enable | default false }}
<section id="hero1" class="py-5 align-middle">
    <div id="hero2" class="container px-3 px-sm-5 px-md-5 px-lg-5 pt-lg-3">
        <div id="hero3" class="row">
            <div classid="hero4" ="col-sm-12 col-md-12 col-lg-8 content {{ if .Site.Params.animate }}animate{{ end }}" id="primary-font">
                <span class="subtitle">
                    {{ .Site.Params.hero.intro }}
                </span>
                <h2 id="hero5" >
                    {{ .Site.Params.hero.title }}
                </h2>
                <h3>
                    {{ .Site.Params.hero.subtitle }}
                </h3>
                <p class="hero-content">
                    {{ .Site.Params.hero.content | markdownify }}
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}